@model RPPP_WebApp.Models.Posao

<tr hx-target="this" hx-swap="outerHTML">
    <td class="text-start">
        <input asp-for="ImePosla" class="form-control" />
    </td>
    <td class="text-start">
        <input asp-for="Opis" class="form-control" />
    </td>
    <td class="text-start">
        <input asp-for="IdVrsteNavigation.ImeVrste" class="form-control" disabled />
    </td>

    <td>
        <input type="hidden" asp-for="IdPosla" />
        <button class="btn btn-sm cancel"
                hx-post="@Url.Action(nameof(PosaoController.Edit2), new { id = Model.IdPosla })"
                title="Spremi">

            Spremi
        </button>
    </td>
    <td>
        <button class="btn btn-sm cancel"
                hx-trigger="reload"
                title="Odustani">

            Odustani
        </button>
    </td>
    <td>
        <button class="btn btn-sm cancel"
                title="pogledajPromjene"
                onclick="pokreni()">

            Pogledaj promjene!
        </button>
    </td>
    <td>
        <div asp-validation-summary="All"></div>
    </td>
</tr>



@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
    <script src="~/lib/htmx/htmx.min.js" asp-append-version="true"></script>
    <partial name="IncludeValidation" />
    <script>function pokreni() {
            window.location.reload;
        }</script>

}
