@model RPPP_WebApp.ViewModels.PartnerViewModel

@{
    ViewBag.Title = "Novi partner";
}

<h2>Unos novog partnera</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="Partner.Ime" class="form-label"></label>
        <input asp-for="Partner.Ime" class="form-control" />
        <div class="form-text"><span asp-validation-for="Partner.Ime" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="Partner.Oib" class="form-label"></label>
        <input asp-for="Partner.Oib" class="form-control" />
        <div class="form-text"><span asp-validation-for="Partner.Oib" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="Partner.Email" class="form-label"></label>
        <input asp-for="Partner.Email" class="form-control" />
        <div class="form-text"><span asp-validation-for="Partner.Email" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="Partner.Telefon" class="form-label"></label>
        <input asp-for="Partner.Telefon" class="form-control" />
        <div class="form-text"><span asp-validation-for="Partner.Telefon" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="Partner.Iban" class="form-label"></label>
        <input asp-for="Partner.Iban" class="form-control" />
        <div class="form-text"><span asp-validation-for="Partner.Iban" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="Partner.Adresa" class="form-label"></label>
        <input asp-for="Partner.Adresa" class="form-control" />
        <div class="form-text"><span asp-validation-for="Partner.Adresa" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="Partner.IdProjekta" class="form-label">Projekt</label>
        <select class="form-select" asp-for="Partner.IdProjekta" asp-items="@Model.projekti.Select(v => new SelectListItem(v.ImeProjekta, v.IdProjekta.ToString()))">
            <option value="null">Nema Projekta</option>
            <option value="">Odaberite Projekt</option>
        </select>
        <div class="form-text"><span asp-validation-for="Partner.IdProjekta" class="text-danger"></span></div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}