
@model RPPP_WebApp.Models.VrstaPosla

<tr hx-target="this" hx-swap="outerHTML">
    <td class="text-start">
        <input asp-for="IdVrste" class="form-control" disabled />
    </td>
    <td class="text-start">
        <input asp-for="ImeVrste" class="form-control" />
    </td>
     
    <td>
        <input type="hidden" asp-for="IdVrste" />
        <button class="btn btn-sm cancel" hx-include="closest tr"
                hx-post="@Url.Action(nameof(VrstaPoslaController.Edit), new { id = Model.IdVrste })"
                title="Spremi">
            Spremi
        </button>
    </td>
    <td>
        <button class="btn btn-sm cancel"
                hx-get="@Url.Action(nameof(VrstaPoslaController.Get), new { id = Model.IdVrste })"
                title="Odustani">

            Odustani
        </button>
    </td>
    <td>
        <div asp-validation-summary="All"></div>
    </td>
</tr>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
    <script src="~/lib/htmx/htmx.min.js" asp-append-version="true"></script>

    <partial name="IncludeValidation" />
}